<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title><%= appname %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- build:css styles/vendor.css --><% if (includeFoundation) { %>
        <% if (includeCompass) { %><link rel="stylesheet" href="styles/foundation.css"><% } else { %><link rel="stylesheet" href="/bower_components/foundation/normalize.css">
        <link rel="stylesheet" href="/bower_components/foundation/foundation.css"><% } %>
        <% } %><% if (includePure) { %><link rel="stylesheet" href="/bower_components/pure/pure.css"><% } %>
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild --><% if (includeModernizr) { %>
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <% } %>
    </head>
    <body>
        <div class="hero-unit">
          <h1>Hello from Teslar</h1>
          <p>You now have</p>
          <ul>
            <% if (includeCompass) { %><li>Sass with Compass</li><% } %>
            <% if (includeModernizr) { %><li>Modernizr</li><% } %>
            <% if (includeFoundation) { %><li>Foundation 5</li><% } %>
            <% if (includePure) { %><li>YUI Pure</li><% } %>
            <% if (deployWithCDN) { %><li><a href="https://github.com/RobinQu/grunt-cdn">CDN</a> Prefixing</li><% } %>
            <% if (deployWithBuildControl) { %><li>Deployment over <a href="https://github.com/robwierzbowski/grunt-build-control">Git build control</a></li><% } %>
            <% if (deployWithSFTP) { %><li>Deployment over <a href="https://github.com/andrewrjones/grunt-ssh">SFTP</a></li><% } %>
          </ul>
        </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <% if (renderHandlebarinBrowser) { %><script src="/bower_components/jquery/dist/jquery.js"></script><% } %>
        
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
